/* Colours!
#FFC932 - Dark orange
#4D4D4E - Dark Grey
#FFF - White
#FEEA88 - Piss yellow
#BBBBBD - Light grey
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Monaco, 'Timess New Roman';
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #4D4D4E;
    align-items: stretch;
}

body > * {
    width: 100vw;
}

h1, h2 {
    font-family: 'Times New Roman';
}

/* Nav Bar */

.nav {
    padding: 16px 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    position: fixed;
    background-color: #4D4D4E;
    color: white;
    margin: 0;
}

.logo {
    height: 10vh;
}

.title {
    align-items: center;
    display: flex;
    gap: 16px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 32px;
}

li {
    transition: all .2s;
    cursor: pointer;
}

li:hover {
    color: #FFC932;
    transition: all .2s;
}

/* Header */

.header {
    padding: 48px 10vw;
    margin-top: 10vh;
    display: flex;
    background-color: #4D4D4E;
    color: white;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
}

.header-text p {
    width: 50%;
}

.header img {
    width: 75%;
}

.header-text h1 {
    font-size: 48px;
    font-weight: extra-bold;
}

.header-text p {
    font-size: 18px;
    color: #ccc;
}

.header-text button {
    padding: 12px;
    border: 2px solid #4D4D4E;
    border-radius: 12px;
    background-color: #FFC932;
    color: #4D4D4E;
    font-weight: bold;
    cursor: pointer;
    transition: all .2s;
}

.header button:hover {
    background-color: #fcd770;
    transition: all .2s;
}

/* Gallery */

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 64px 10vw;
    background-color: white;
}

.photos {
    display: flex;
    justify-content: space-between;
    gap: 64px;
    width: 80%;
}

.photo {
    width: 100%;
    text-align: center;
}

.photo img {
    width: 100%;
    height: 100%;
    /* position: absolute; */
    object-fit: cover;
    overflow: hidden;
    border: 4px solid #FFC932;
    border-radius: 14px;
}

.photo p {
    color: #4D4D4E;
    font-size: 14px;
}

/* Quote box */

.quote {
    padding: 48px 20vw;
    background-color: #FEEA88;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #4D4D4E;
}
.quote-text {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    font-size: 32px;
    font-weight: light;
    font-style: italic;

}

.quote-author {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    font-size: 14px;
    font-style: italic;
}

/* Sign up section */

.sign-up {
    padding: 48px 10vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-box {
    padding: 64px;
    background-color: #FFC932;
    border-radius: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    width: 90%;
}

.sign-up-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sign-up-text p {
    color: #4D4D4E;
}

.sign-up-button {
    background-color: #FFC932;
    padding: 8px 16px;
    color: #4D4D4E;
    border: 2px solid #4D4D4E;
    border-radius: 12px;
    transition: all .2s;
}

.sign-up-button:hover {
    background-color: #4D4D4E;
    color: #FFC932;
    cursor: pointer;
    transition: all .2s;
}

/* Footer */

.footer {
    height: 10vh;
    background-color: #4D4D4E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 4px;
    padding: 20px 10vw;
}

.footer a {
    color: #FFC932;
    transition: all .2s;
}

.footer a:hover {
    color: #FEEA88;
    transition: all .2s;
}